/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
!.idea/
.idea/*
!.idea/externalDependencies.xml
!.idea/runConfigurations/
!.idea/inspectionProfiles/
!.idea/codeStyles/

*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/bin/

### pact ###
/pact

generated